@font-face {
  font-family: "BILLO";
  src: local("BILLO"),
      url("./fonts/BILLO.TTF")
      format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "freedokaR";
  src: local("FredokaOne-Regular"),
      url("./fonts/fredoka/FredokaOne-Regular.otf")
      format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "freedokaD";
  src: local("Fredoka_dingbats"),
      url("./fonts/fredoka/Fredoka_dingbats.otf")
      format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "loving";
  src: local("loving"),
      url("./fonts/loving/Loving.otf")
      format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "loving";
  src: local("loving"),
      url("./fonts/loving/Loving.ttf")
      format("truetype");
  font-weight: normal;
}

.App {
  text-align: center;
  overflow: hidden;
}

.play {
  position: fixed;
  width: 4rem;
  height: 3rem;
  top: 30%;
  left: 50%;
  z-index: 2000;
}

.video {
  height: 100vh;
  visibility: visible;
  position: fixed;
  top:0;
  left:0;
}

.hidden {
  visibility: hidden !important;
}

.front {
  position: absolute;
  z-index: 1000;
}

.cosa0 {
align-self: flex-end;
position: fixed;
top: 30%;
left: 2%;
z-index: 1;
}

.star2 {
height: 400px;
margin-left: 2%;
}

.cosa {
  z-index: 0;
  position: fixed;
  display: block;
  top: 50%;
  left: 10%;
  width: 50%;
  height: 20%;
  background-color: transparent;
  opacity: 1;
}

.back {
  position: absolute;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
}

.background {
  background-image: url("./assets/Desktop.png");
  background-size: cover;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  animation-name: clouds;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
}

@keyframes clouds {
  from {background-position-x: -100vw}
  to {background-position-x: 0vw}
}

.clouds {
  z-index: 0;
  opacity: 0.6;
  animation-duration: 30s;
  background-size: cover;
  background-position-y: 100px;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  height: 15%;
  padding: 5px;
  background-color:#d9edc266;
  font-family: "BILLO";
  font-size: 100px;
  color:#CA83A2
}

.logoCont{
  width: 150px;
  height: 150px;
  border:solid 3px #CA83A2 ;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.neko {
  margin-top: 4%;
  margin-left: 4%;
  opacity: 1;
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 2%;
  width: 100px;
}

@keyframes rainbow{
  100%,0%{
    color: #FFD6CF;
  }
  8%{
    color: #CA83A2;
  }
  16%{
    color: #FEC1E0;
  }
  25%{
    color: #A8FFD9;
  }
  33%{
    color: #EBB5FF;
  }
  41%{
    color: #FFAB91;
  }
  50%{
    color: #CA83A2;
  }
  58%{
    color: #FEC1E0;
  }
  66%{
    color: #EBB5FF;
  }
  75%{
    color: #FFAB91;
  }
  83%{
    color: #CA83A2;
  }
  91%{
    color: #FEC1E0;
  }
}

.space{
  width: 15%;
  font-family: freedokaR;
  font-size: 30px;
  color: #9F71A6;
  background-image: url("./assets/sparkle00.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rainbow 30s linear;
  animation-iteration-count: infinite;
  text-shadow: #A8FFD9 1px 0 10px;
  padding: 50px;
  cursor: pointer;
}

.wings {
  position: absolute;
  z-index:1;
  top: 4%;
  left: 2%;
  width: 200px;
}

.title{
  z-index: 1500;
}

@keyframes butA {
  from {margin-left: 100vw}
  to {margin-left: -100vw}
}

.but{
  width: 80%;
}

.butA {
  animation-name: butA;
  animation-duration: 15s;
}

.contentCont{
  display: flex;
  flex-direction: row;
}

.sideBarCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 58%;
  right: 2%;
  border: solid 3px #87cefa80;
  border-radius: 300px;
  height: 30vh;
  z-index: 1500;
  background-color:#FFFFFF80;
  align-self: flex-end;
  padding: 30px;
}

.addJoy {
  font-family: BILLO;
  font-size: 50px;
  color: #87cefa;
}

.buttonA {
  display: inherit;
  font-family: freedokaD;
  font-size: 40px;
  color: white;
  background-color: #87cefa;
  border-radius: 100px;
  padding: 2px 6px 2px 6px;
  margin: 5px;
}

.buttonA:hover{
  color: whitesmoke;
  background-color: lightpink;
  cursor: pointer;
}

.heart {
  position: fixed;
  top: 50%;
  right: 30%;
}

.sparkle {
  position: fixed;
  top: 10%;
  right: 15%;
  z-index: 1;
}

.modal {
  position: relative;
  top: 30%;
  left: 10%; 
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDACAB;
  border-radius: 60px;
  overflow: scroll;
  z-index: 5000;
  margin-top:4%;
  margin-bottom: 10%;
  }

.closeButton {
  height: 50px;
  margin: 4% 5% 0% 0%;
  align-self: flex-end;
  cursor: pointer;
}

.txt {
  font-family: loving;
  font-size: 20px;
  font-weight: 200;
  margin: 0% 4% 4% 4%;
  color: #332F2E;
  text-align: left;
}

.imgCont {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  margin: 2%;
}

.imgRound {
  border-radius: 60px;
  margin-bottom: 2%;
}

.mobile{
  display: none;
  background-color: black;
}

.mobileTitle{
  font-family: BILLO;
  font-size: 100px;
  color: white;
}

.mobileTxt {
  font-family: freedokaR;
  font-size: 25px;
  color: white;
}

@media screen and (max-width: 800px) {
  .mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    height: 100vh;
  }

  .container {
    display: hidden;
  }

}
